# Tip 1: Add seperator(,) in numbers

In [5]:
big_num = 12345678901
print(f"{big_num:,}")

12,345,678,901

In [3]:
big_num = 1323456789
print(f"{big_num:,}")

1,323,456,789

In [6]:
big_num = 999999999999
print(f"{big_num:,}")

999,999,999,999

# Tip 2: if-else condition in a f-string

In [7]:
print(f"{'this is a' if 10>5 else b}")

this is a

In [8]:
print(f"{'this is b' if 10>5 else a}")

this is b

# Tip 3: Square & Cube

In [9]:
ODD_SQUARE = []
for i in range(1,11):
    if i % 2!=0:                                                             
        ODD_SQUARE.append(i**2)
print(ODD_SQUARE)

[1, 9, 25, 49, 81]

In [14]:
ODD_SQUARE = [i**2 for i in range(1,11) if i%2!=0]                            
print(ODD_SQUARE)

[1, 9, 25, 49, 81]

In [11]:
EVEN_SQUARE = [i**2 for i in range(1,11) if i%2==0]
print(EVEN_SQUARE)

[4, 16, 36, 64, 100]

In [12]:
ODD_CUBE = [i**3for i in range(1,11) if i%2!=0]                            
print(ODD_CUBE)

[1, 27, 125, 343, 729]

In [13]:
ODD_CUBE = [i**3 for i in range(1,11) if i%2==0]                            
print(ODD_CUBE)

[8, 64, 216, 512, 1000]

# Walrus Operator(:=)

In [ ]:
'''Walrus Operator(:=)
Walrus-operator is another name for assignment expressions
According to the official documentation,It is a way to assign to variable within an expression using the notation.'''

In [15]:
a = [1,2,3,4]
if (n := len(a)) >3:
    print(f"max number is: {n}")

max number is: 4

# Reversing a string in python

In [16]:
a = "Python.py"
print("Reverse is", a[::-1])

Reverse is yp.nohtyP

# Store all three values of the list in 3 new variable

In [18]:
a = [1,2,3]
x,y,z = a
print("x = ",x)
print("y = ",y)
print("z = ",z)

x =  1
y =  2
z =  3

# Using Join

In [22]:
a = ["Folloow","@_","python",".py"]
print("".join(a))

Folloow@_python.py

In [26]:
con_string = ["p","y","t","h","o","n"]
print("".join(con_string))

python

#

In [23]:
A = "Python.py"
print(A*3)

Python.pyPython.pyPython.py

# Swaping Numbers

In [25]:
a = 3
b = 4
a,b = b,a
print("The value of a after swapping is",a)
print("The value of b after swapping is",b)

The value of a after swapping is 4
The value of b after swapping is 3

# USING ZIP

In [27]:
Language = ["Python","Java","C++"]
Creaters = ["guido van rossum","james gosling","denis ricthie"]
for Language, Creaters in zip(Language,Creaters):
    print(Language,":",Creaters)

Python : guido van rossum
Java : james gosling
C++ : denis ricthie

# THE _ OPERATOR

In [28]:
>>> 2 + 5

7

In [29]:
>>> _

7

# Memory Usage of An Object

In [1]:
import sys
x = 2
print(sys.getsizeof(x))

28

# Chaining of Comparison Operators

In [2]:
n = 10
result = 1<n<20
print(result)
result = 1>n<=9
print(result)

True
False

# Find The Most Frequent Value In A List

In [3]:
test = [5,5,5,6,6,6,4,4,4,1,1,1,1,9,9,8,7,5,1,2,6]
print(max(set(test),key=test.count))

1